
.dark-blue {
    color: #1451bc;
}
.wrapbox-content-account {
    margin-bottom: 30px;
}

/* ------------------- */
.AccountSidebar  {
    height: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;   
    margin-bottom: 30px;
    border-radius: 10px;
 
}
.AccountAvatar {
    width: 100px;
    background: #4d9ee0;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
}

.AccountSidebar .AccountTitle {
    margin-bottom: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
}
.AccountSidebar .AccountTitle span {
    font-weight: 700;
    color: #1451bc;
}
.AccountContent {
    width: 100%;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.AccountSidebar .AccountList ul > li {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #686868;
    border-bottom: dashed 1px #ccc;
    margin-bottom: 10px;
}
.AccountSidebar .AccountList ul > li .fa {
    margin-right: 16px;
    min-width: 14px;
}