.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #777;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
}

.divider span {
    padding: 0 12px;
    font-size: 14px;
}
.login-social {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}
.btn-social {
    display: flex;
    align-items: center;
    width: 280px;
    height: 48px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

/* Icon */
.btn-social i {
    width: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* Facebook */
.btn-social.facebook {
    background-color: #1877f2;
}

/* Google */
.btn-social.google {
    background-color: #db4437;
}

/* Hover */
.btn-social:hover {
    opacity: 0.9;
}

/* --------------QUÊN MẬT KHẨU------------- */
#recover-password {
    width: 100%;
}
#recover-password .accounttype h2 {
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 600;
}
#recover-password .custommer_account_action {
    width: 200px;
    display: flex;
    margin: auto;
    gap: 12px;
}