* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------COMMON-------- */
body{
    line-height: 1.45;
    font-size: 14px;
 }
label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #868D95;
}
.color_grey {
    color: #ccc;
}


/* --------COMMON-------- */
.layout-account .wrapbox-heading-account {
    padding: 22px;
}
.layout-account .header-page h2, 
.layout-account .header-page h1 { 
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 25px;
    font-weight: 700;
    line-height: initial;
    cursor: pointer;
}
.layout-account .header-page h2:last-child {
    margin-left: 30px;
    padding-left: 30px;
    border-left: 3px solid #ccc;
    
}
.layout-account .customers_accountForm {
    justify-items: center;
    max-width: 500px;
    margin: 0 auto 50px;
}
.layout-account .customers_accountForm .large_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;
}

#login{
    width: 100%;
 }
.layout-account .customers_accountForm  input[type=text],
.layout-account .customers_accountForm  input[type=email],
.layout-account .customers_accountForm  input[type=password],
.layout-account .customers_accountForm  input[type=submit] {
    border-radius: 8px;
    width: 100%;
    padding: 5px 20px;
}
.layout-account .customers_accountForm  input[type=text],
.layout-account .customers_accountForm  input[type=email],
.layout-account .customers_accountForm  input[type=password] {           
    height: 55px;
    color: #5c5c5c;
    font-weight: 500;
    border: 1px solid transparent;
    background: #ededed;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.layout-account .customers_accountForm  input[type=submit] {
    height: 48px;
    background-color: #1b4ea0;
    color: #fff
}
.custommer_account_action .action_bottom {
    margin-bottom: 10px;
}
.custommer_account_action .req_pass {
    justify-self: center;
}
.req_pass a {
  text-decoration: underline;
  color: #184CFA;
}

